* {
    margin: 0;
    padding: 0;
}

.container-parent {
    height: 100vh;
    background-color: rgba(222, 158, 47, 0.71);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-child {
    width: 16em;
    height: 28em;
}

.calculator {
    border-radius: 20px;
    background-color: rgb(62, 62, 61);
    width: 100%;
    height: 100%;
    padding: 20px;

}

.display {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    background-color: rgb(176, 176, 216);
    box-shadow: 48px 49px 21px -51px rgba(0, 0, 0, 0.7) inset;
    -webkit-box-shadow: 48px 49px 21px -51px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 48px 49px 21px -51px rgba(0, 0, 0, 0.7) inset;

}


.all-buttons button {
    background-color: rgb(139, 116, 139);
    font-size: 1.325rem;
    padding: 1rem 0;
    font-weight: 700;
    border: 0px solid transparent;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;

}

button:hover {
    transform: translateY(-5px);
    transition: all .22s ease-in-out;
}


.digit:hover,
.decimal:hover {
    background-color: rgb(165, 106, 200);
    color: rgb(255, 255, 255);
}

.allclear:hover,
.clear:hover {
    background-color: rgb(212, 133, 170);
    color: aliceblue;
}

.operator:hover {
    background-color: rgb(79, 175, 240);
    color: aliceblue;
}

.equals:hover {
    background-color: rgb(87, 250, 106);
    color: aliceblue;
}

.all-buttons {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.6rem;
}

button.equals {
    grid-column: 3 / 5;
    border-radius: 2.5rem
}


.calculator-display {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 8px;
}

.user-input, .result {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: end;
}

.operator, .digit {
    margin: 0;
}